html { 
  height: 100% 
}

body { 
  height: 100%; 
	margin: 0; 
	padding: 0; 
	background-color: #f9f9f9;
}

#map-canvas { 
  height: 640px; 
  width: 80%;
  float: left; 
}

#locations {
  width: 19%;
  float:right;
  background-color: #f9f9f9;
  height: 420px;
  word-wrap: break-word;
  padding: 5px;
  overflow-y:scroll;
  margin-bottom: 0;
}

.marker{
  overflow: auto;
  margin-top:10px;
  padding: 3px;
}

.marker:nth-child(2n){
  background-color: #f9f9f9;
}

.marker:nth-child(2n):hover{
  background-color: #f2e0b0;
}

.marker:nth-child(2n-1){
  background-color: #f2f2f2;
}

.marker:nth-child(2n-1):hover{
  background-color: #f2e0b0;
}

.marker a{
  color:black;
  text-decoration: none;
}
.marker a:hover{
  color:blue;
  text-decoration: underline;
}

.title{
  width: 80%;
  padding-top: 5px;
  font-style: italic;
  font-size: large;
  text-align: center;
  float: right;
  font-weight: bold;
}

#sourceCode{
  float:left; 
  width:19%;
  height: 200px;
  padding: 5px;
}

#sourceCode a{
  font-size:small;
}

.infoBuble {
  text-shadow: 1px 1px 0 #f7f7f7;
  color: black;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 20px;
  line-height: 25px;
  padding: 10px 45px 4px 15px;
  font-weight: normal;
  height: 140px;
}

.geoInfoBuble {
  text-shadow: 1px 1px 0 #f7f7f7;
  color: black;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 15px;
  line-height: 25px;
  padding: 10px 45px 4px 15px;
  font-weight: normal;
  height: 120px;
}

.selected{
  overflow: auto;
  margin-top:10px;
  padding: 3px;
  background-color: #f2e0b0;
}

.directionsClass{
  margin-bottom: 0;
  color: #f9f9f9;
  background-color: black;
}

#radius{
  width: 150px;
}

#directions{
  display:none;
  width: 19%;
  float:right;
  height: 420px;
  word-wrap: break-word;
  padding: 5px;
  overflow-y:scroll;
  background-color: #d6d6d6;
  border: 1px solid #517bf7;
}

.yellow{
  border-radius: 5px;
  background-color: #fff1a8;
  padding: 5px;
  height: 75px;
  margin-top: 5px;
}

#grey{
  margin-top: 10px;
  border-radius: 2px;
  height: 40px;
  background-color: #eeeeee;
  padding: 5px;
}

.text{
  font-size: small;
}
